<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Proveedor</title>
</head>
<body>
    <a href="{% url 'listado_proveedores' %}">Lista de Proveedores</a>
    <br><br>

    <form method="post">
    {% csrf_token %}

        <div>
            <label for="Nombre">Nombre:</label>
            <input type="text" id="Nombre" name="Nombre" >
        </div>
        <br>

        <div>
            <label for="Apellido">Apellido:</label>
            <input type="text" id="Apellido" name="Apellido">
        </div>
        <br>

        <div>
            <label for="DNI">DNI:</label>
            <input type="number" id="DNI" name="DNI">
        </div>
        <br>

        <button type="submit">Guardar</button>
    </form>
</body>
</html>